---
BasedOnStyle: WebKit

ColumnLimit: 88

AlignAfterOpenBracket: Align

# Not available in clang-format-14
#BreakTemplateDeclarations: Yes

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeLambdaBody: true

AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
