[submodule "thirdparty/argparse"]
	path = thirdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/doctest/doctest
